tweepy

Official documentation: https://docs.tweepy.org/en/stable/

Ref: https://dev.to/twitterdev/a-comprehensive-guide-for-using-the-twitter-api-v2-using-tweepy-in-python-15d9

In [1]:
import tweepy
import datetime
import pandas as pd
import json
import requests

In [2]:
# Update this variable with YOUR OWN Twitter Bearer Token
BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAIgDXwEAAAAA%2B%2FNOy4TBsIJvUFHy71iUi3XZEKM%3DsCO2F4oRltYGL2flK4Q3refT6FDegcC9Q6dEhQyEML9jrxrVMi'

client = tweepy.Client(bearer_token=BEARER_TOKEN, return_type=requests.Response)

In [3]:
'''
Searching for Tweets from the last 7 days

We can use the search_recent_tweets function available in Tweepy.
You will have to pass it a search query to specify the data that you are looking for.

Below, we will search for for Tweets from the last days from the 
Twitter handle realDonaldTrump and we are excluding retweets using -is:retweet.

By default, a request returns 10 Tweets.
If you want more than 10 Tweets per request, you can specify that using the max_results parameter.
The maximum Tweets per request is 100.
'''
# Replace with your own search query
handle = 'KimKardashian'
query = 'from:' + handle + ' -is:retweet'

tweets1 = client.search_recent_tweets(
            query=query,
            tweet_fields=['context_annotations', 'created_at'],
            max_results=100)

In [4]:
'''
Convert to pandas Dataframe
'''

# Save data as dictionary
tweets_dict1 = tweets1.json()

# Extract "data" value from dictionary
tweets_data1 = tweets_dict1['data'] 

# Transform to pandas Dataframe
df1 = pd.json_normalize(tweets_data1)

df1

,created_at,context_annotations,id,text
0,2022-01-20T22:11:34.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1484287511341899776,Just dropped NEW @skims Outdoor! Shop now at h...
1,2022-01-19T20:02:02.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1483892525014282243,You can expect a wide range of scent notes fro...
2,2022-01-19T20:00:58.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1483892260605349888,Coming Soon: Jeff Leatham II by @KKWFragrance....
3,2022-01-19T13:47:50.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1483798357633945602,Beach üÖøÔ∏èarty https://t.co/0rlc0wo7iE
4,2022-01-17T19:45:04.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1483163481947922442,Mother Nature üßúüèª‚Äç‚ôÄÔ∏è https://t.co/kufiSWM2Dm
5,2022-01-15T16:08:17.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1482384151584014336,üéÇ ‚ô•Ô∏è https://t.co/B5KQ0AvOkF
6,2022-01-15T16:05:50.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1482383535486816256,üíï https://t.co/QzJpnLCajW
7,2022-01-15T15:37:05.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1482376298118877184,I can‚Äôt wait to celebrate with all of the Barb...
8,2022-01-15T15:36:32.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1482376160117886980,My birthday baby girl Chi Chi turns 4 today! M...
9,2022-01-14T18:01:45.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1482050315503357960,Just added new items on my #KardashianKloset üõç...
10,2022-01-14T17:00:08.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1482034810952450049,Just dropped @SKIMS Faux Leather! Available no...
11,2022-01-14T07:29:21.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1481891168069701634,What are some good shows to watch? Could be ne...
12,2022-01-14T07:28:43.000Z,"[{'domain': {'id': '10', 'name': 'Person', 'de...",1481891010762264577,I was lol but finally catching up on all the g...
13,2022-01-14T07:27:33.000Z,"[{'domain': {'id': '3', 'name': 'TV Shows', 'd...",1481890717760823297,@sarahrhoward Not sure lol I‚Äôm up organizing a...
14,2022-01-14T07:25:51.000Z,"[{'domain': {'id': '3', 'name': 'TV Shows', 'd...",1481890287966310402,Oh and also Just Like That the new chapter of ...
15,2022-01-14T07:15:22.000Z,"[{'domain': {'id': '3', 'name': 'TV Shows', 'd...",1481887649501569025,Just started some old school shows I‚Äôve never ...

In [7]:
'''
If you want to get Tweets for a specific time-period, you can specify the time-period
using the start_time and end_time parameters, as shown in the example below:
'''

# Replace with time period of your choice
start_time = '2022-01-15T00:00:00Z'

# Replace with time period of your choice
end_time = '2022-01-16T00:00:00Z'


# Replace with your own search query
handle = 'KimKardashian'
query = 'from:' + handle + ' -is:retweet'

tweets2 = client.search_recent_tweets(
            query=query,
            tweet_fields=['context_annotations', 'created_at'],
            start_time=start_time,
            end_time=end_time,
            max_results=100)

'''
Convert to pandas Dataframe
'''

tweets_dict2 = tweets2.json()
tweets_data2 = tweets_dict2['data'] 
df2 = pd.json_normalize(tweets_data2)

df2

,created_at,text,id,context_annotations
0,2022-01-15T16:08:17.000Z,üéÇ ‚ô•Ô∏è https://t.co/B5KQ0AvOkF,1482384151584014336,"[{'domain': {'id': '10', 'name': 'Person', 'de..."
1,2022-01-15T16:05:50.000Z,üíï https://t.co/QzJpnLCajW,1482383535486816256,"[{'domain': {'id': '10', 'name': 'Person', 'de..."
2,2022-01-15T15:37:05.000Z,I can‚Äôt wait to celebrate with all of the Barb...,1482376298118877184,"[{'domain': {'id': '10', 'name': 'Person', 'de..."
3,2022-01-15T15:36:32.000Z,My birthday baby girl Chi Chi turns 4 today! M...,1482376160117886980,"[{'domain': {'id': '10', 'name': 'Person', 'de..."

In [8]:
'''
Writing Tweets to a text file

This example shows how you can write the Tweet IDs for each Tweet obtained 
for a search result, to a text file.

Make sure to replace the file_name with the a name of your chosing.

If you wish to write other fields to the text file, make sure to adjust the script below accordingly.
'''

file_name = 'tweets.txt'

df1.to_csv(file_name, index=False, encoding='utf-8')

# If you want a different delimiter, say, tab or '\t'
# You can do:
#    df2.to_csv(file_name, index=False, encoding='utf-8', sep='\t')